body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.error{
    background: none;
    margin-top: 0;
    border-radius: 4px 4px 0 0;
    position: relative;
    left: 0px;
    padding: 0;
    color: #f00;
    right: 0;
    z-index: 10;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
  .glow {
  
  color: aqua;
  font-weight:bold;
 
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
    @-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px aqua, 0 0 20px aqua, 0 0 30px #194de6, 0 0 40px #194de6, 0 0 50px #194de6, 0 0 60px #194de6, 0 0 70px #194de6;
  }
  
  to {
    text-shadow: 0 0 20px aqua, 0 0 30px #1919e6, 0 0 40px #1919e6, 0 0 50px #1919e6, 0 0 60px #1919e6, 0 0 70px #1919e6, 0 0 80px #1919e6;
  }
}
    .responsive {
  width: 100%;
  /*height: auto;*/
}

.table-responsive::-webkit-scrollbar {
    -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:vertical {
    width: 12px;
}

.table-responsive::-webkit-scrollbar:horizontal {
    height: 12px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: aqua;
    border-radius: 10px;
    border: 2px solid darkblue;
}

.table-responsive::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}

#loader {
    position: fixed;
    z-index: 1111;
    border: 10px solid #F0F8FF;
    border-radius: 50%;
    border-top: 10px solid #00C6D7;
    border-bottom: 10px solid #052963;    
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    left: 50%;
    top: 50%;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    cursor: pointer;
} 
