
<h2 style="text-align:center">Hotels, Rooms, Cottages Booking in Thirukadaiyur</h2>
<p style="text-align:center">
    Select your hotel based on your budget & people count. Reserve the hotel/room/cottage online!
</p>
<div class="row" style="text-align:center;margin-bottom:15px">
    <div class="btn-group">
        <a href="#hotels" class="btn btn-primary" style="font-size: 20px;border-color: darkblue;">Hotels</a>
        <a href="#food" class="btn btn-primary" style="font-size: 20px;border-color: darkblue;">Food </a>
    </div>
</div>
<section id="hotels">

    <div class="row">
        <div class="col-md-3">
            <div class="jumbotron " style=" background-image: url('../../Content/images/img_bg_4.jpg');  font-size:15px;   margin-top: 15px;    height: 400px;">
                <p style="padding-top:147px;font-weight:bold;color:white" >250 sq ft <br />Bed: 2 doubles +1 person ₹150</p>
                <p style="font-weight:bold;color:white"><a class="glow">Abirami Residency</a>
                    <br />(Non AC)<br />From ₹550 to ₹700</p>
                <p><a href="#Hotelbookingarea" class="btn btn-default">Book Now </a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="jumbotron " style=" background-image: url('../../Content/images/img_bg_4.jpg');  font-size:15px;   margin-top: 15px;    height: 400px;">
                <p style="padding-top:147px;font-weight:bold;color:white">250 sq ft <br />Bed: 2 doubles +1 person ₹100</p>
                <p style="font-weight:bold;color:white">
                    <a class="glow">Hotel Krishna</a>
                    <br />(Non AC)<br />₹600 Onwards...
                </p>
                <p><a href="#Hotelbookingarea" class="btn btn-default">Book Now </a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="jumbotron " style=" background-image: url('../../Content/images/img_bg_4.jpg');  font-size:15px;   margin-top: 15px;    height: 400px;">
                <p style="padding-top:147px;font-weight:bold;color:white">250 sq ft <br />Bed: 2 doubles </p>
                <p style="font-weight:bold;color:white">
                    <a class="glow">Hotel Sadhabishegam</a>
                    <br />(Non AC)<br />₹750 Onwards...
                </p>
                <p><a href="#Hotelbookingarea" class="btn btn-default">Book Now </a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="jumbotron " style=" background-image: url('../../Content/images/img_bg_4.jpg');  font-size:15px;   margin-top: 15px;    height: 400px;">
                <p style="padding-top:147px;font-weight:bold;color:white">250 sq ft <br />Bed: 2 doubles</p>
                <p style="font-weight:bold;color:white">
                    <a class="glow">Hotel Krishna, Abirami Residency</a>
                    <br />AC<br />From ₹800 to  ₹990
                </p>
                <p><a href="#Hotelbookingarea" class="btn btn-default">Book Now </a></p>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="jumbotron " style=" background-image: url('../../Content/images/img_bg_4.jpg');  font-size:15px;   margin-top: 15px;    height: 400px;">
                <p style="padding-top:87px;font-weight:bold;color:white">250 sq ft <br />Bed: 2 doubles <br />+1 person(max) ₹200 </p>
                <p style="font-weight:bold;color:white">
                    <a class="glow">Kanagabishegam, Sadhabishegam, Hotel Chella</a>
                    <br />AC<br />₹999 Onwards...
                </p>
                <p><a href="#Hotelbookingarea" class="btn btn-default">Book Now </a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="jumbotron " style=" background-image: url('../../Content/images/img_bg_4.jpg');  font-size:15px;   margin-top: 15px;    height: 400px;">
                <p style="padding-top:62px;font-weight:bold;color:white">250-300 sq ft <br />Bed: 2-4 king(s)<br />+1 person(max) ₹250 </p>
                <p style="font-weight:bold;color:white">
                    <a class="glow">JR Residency, Abirami Residency, Hotel Chella</a>
                    <br />AC<br />From ₹1250 to  ₹1700
                </p>
                <p><a href="#Hotelbookingarea" class="btn btn-default">Book Now </a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="jumbotron " style=" background-image: url('../../Content/images/img_bg_4.jpg');  font-size:15px;   margin-top: 15px;    height: 400px;">
                <p style="padding-top:147px;font-weight:bold;color:white">400-500 sq ft <br />10 -15 Persons</p>
                <p style="font-weight:bold;color:white">
                    <a class="glow">Guest House</a>
                    <br />AC & Non AC<br />From ₹2000 to  ₹3300
                </p>
                <p><a href="#Hotelbookingarea" class="btn btn-default">Book Now </a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="jumbotron " style=" background-image: url('../../Content/images/img_bg_4.jpg');  font-size:15px;   margin-top: 15px;    height: 400px;">
                <p style="padding-top:147px;font-weight:bold;color:white">800-1000 sq ft <br />40 -50 Persons</p>
                <p style="font-weight:bold;color:white">
                    <a class="glow">Guest House</a>
                    <br />AC & Non AC<br />From ₹5500 to  ₹6500
                </p>
                <p><a href="#Hotelbookingarea" class="btn btn-default">Book Now </a></p>
            </div>
        </div>
    </div>
    <div class="row" id="Hotelbookingarea">
        <div class="col-md-12 ">
            <div class="jumbotron " style="font-size:15px;">
                <h2>Thirukadaiyur Hotels Online Booking</h2>
                <form action="/Thirukadaiyur/Thirukadaiyur_Hotels_Booking" id="Hotelbooking" method="post">
                    <div class="col-md-6">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="mrname">Name</label>
                                <input type="text" id="Name" name="Name" class="form-control" placeholder="type Mr and Mrs name">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="chkindate">Check in Date</label>
                                <input type="date" id="chkindate" name="chkindate" class="form-control" placeholder="">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="chkoutdate">Check out Date</label>
                                <input type="date" id="chkoutdate" name="chkoutdate" class="form-control" placeholder="">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="mobile">Contact Number</label>
                                <input type="text" id="mobile" name="mobile" class="form-control required customphone" placeholder="Enter your mobile no ">
                            </div>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="Personcount">Count of Person (Approx)</label>
                                <input type="number" id="Personcount" name="Personcount" class="form-control" placeholder="people count">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="fdate">Address</label>
                                <textarea type="" id="address" name="address" class="form-control" placeholder="your address"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="fdate">Prefered Hotels(if any)</label>
                                <input type="text" id="preference" name="preference" class="form-control" placeholder="type your preference">
                            </div>
                        </div>
                    </div>

                    <p style="color:darkblue">You need to pay just ₹1000 for advance registration. Remaining amount can be paid directly at hotel reception at the end of your function.</p>
                    <input type="submit" class="btn btn-default" value="Reserve Now" />

                </form>
            </div>
        </div>
    </div>
</section>
<section id="food">
    <h2 style="text-align:center">Food Arrangements & Booking Thirukadaiyur</h2>
    <p>
        <ul>
            <li>Enter head count and date for (Breakfast/Lunch/Dinner)</li>
            <li>Minimim 10 count acceptable</li>
            <li>No changes in menu.</li>
        </ul>


    </p>
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron " style=" background-image: url('../../Content/images/img_bg_4.jpg');  font-size:15px;   margin-top: 15px;    height: 400px;">
                <p style="padding-top:87px;font-weight:bold;color:white">Sweet<br /> Idly<br /> Pngal<br /> Vada<br /> Poori + Cofee </p>
                <p style="font-weight:bold;color:white">
                    <a class="glow">BreakFast</a><br />
                    From ₹100 Onwards...
                </p>
                <p><a href="#Foodbookingarea" class="btn btn-default">Book Now </a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron " style=" background-image: url('../../Content/images/img_bg_4.jpg');  font-size:15px;   margin-top: 15px;    height: 400px;">
                <p style="padding-top:87px;font-weight:bold;color:white">Sweet<br />Rice Dhal,Kootu,Porial,Gee<br />Sambar,Vathal kuzhambu,Rasam,Curd<br /> Vadai,Payasam, Appalam</p>
                <p style="font-weight:bold;color:white">
                    <a class="glow">Lunch</a><br />
                    From ₹150 Onwards...
                </p>
                <p><a href="#Foodbookingarea" class="btn btn-default">Book Now </a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron " style=" background-image: url('../../Content/images/img_bg_4.jpg');  font-size:15px;   margin-top: 15px;    height: 400px;">
                <p style="padding-top:87px;font-weight:bold;color:white">Sweet<br />Idly<br />Chapathi<br />Kichadi</p>
                <p style="font-weight:bold;color:white">
                    <a class="glow">Dinner</a><br />
                    From ₹100 Onwards...
                </p>
                <p><a href="#Foodbookingarea" class="btn btn-default">Book Now </a></p>
            </div>
        </div>
    </div>
    <div class="row" id="Foodbookingarea">
        <div class="col-md-12 ">
            <div class="jumbotron " style="font-size:15px;">
                <h2>Food-Online Booking</h2>
                <form action="/Thirukadaiyur/Thirukadaiyur_Food_Booking" id="Foodbooking" method="post">
                    <div class="col-md-6">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="mrname">Name</label>
                                <input type="text" id="Name" name="Name" class="form-control" placeholder="type Mr and Mrs name">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="fdate">Contact Number</label>
                                <input type="text" id="mobileno" name="mobilemno" class="form-control" placeholder="Enter your mobile no ">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label for="BreakeFast">BreakeFast </label>&nbsp;
                            <input style="width:80px" type="number" id="BFCount" name="BFCount" class="form-control" placeholder="Count" value="0">
                            <input style="width:170px" type="date" id="Breakefastdate" name="Breakefastdate" class="form-control" placeholder="date">

                        </div>
                        <div class="input-group">
                            <label for="Lunch">Lunch </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input style="width:80px" type="number" id="LCount" name="LCount" class="form-control" placeholder="Count" value="0">
                            <input style="width:170px" type="date" id="Lunchdate" name="Lunchdate" class="form-control" placeholder="date">
                        </div>
                        <div class="input-group">
                            <label for="Dinner">Dinner </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input style="width:80px" type="number" id="DCount" name="DCount" class="form-control" placeholder="Count" value="0">
                            <input style="width:170px" type="date" id="Dinnerdate" name="Dinnerdate" class="form-control" placeholder="date">
                        </div>
                    </div>
                    <p style="color:darkblue">You need to pay just ₹1000 for advance registration. Remaining amount can be paid directly at hotel at the end of your function.</p>
                    <input type="submit" class="btn btn-default" value="Book Now" />
                </form>
            </div>

        </div>
    </div>
</section>
<div class="row">
    <div class="col-md-12">
        Tags:
        <ul style="text-align:justify; color:darkblue">
            <li style="font-size: 12px;">
                <a href="https://www.thirukadaiyurweddings.com/"> hotels in thirukadaiyur </a>&nbsp;
                <a href="https://www.thirukadaiyurweddings.com/">thirukadaiyur hotel rooms online booking</a>&nbsp;
                <a href="https://www.thirukadaiyurweddings.com/"> rooms in thirukadaiyur</a>&nbsp;
                <a href="https://www.thirukadaiyurweddings.com/">thirukadaiyur lodges</a>&nbsp;
                <a href="https://www.thirukadaiyurweddings.com/">cottages in thirukadaiyur</a>&nbsp;
                <a href="https://www.thirukadaiyurweddings.com/">thirukadaiyur temple rooms</a>&nbsp;
                <a href="https://www.thirukadaiyurweddings.com/">thirukadaiyur accommodation</a>&nbsp;
                <a href="https://www.thirukadaiyurweddings.com/">thirukadaiyur room booking</a>&nbsp;
            </li>

        </ul>
    </div>
</div>
<script type="text/javascript">
    

    $(document).ready(function () {
        $("#Foodbooking").validate({
            rules: {
                ignore: ":not(:visible)",
                BFCount: {
                    required: true
                },
                Breakefastdate: {
                    required: true
                },
                LCount: {
                    required: true
                },
                Lunchdate: {
                    required: true
                },
                DCount: {
                    required: true
                },
                Dinnerdate: {
                    required: true
                },
                mobilemno: {
                    required: true
                },
            },
            messages: {


            }
        });

        $("#Hotelbooking").validate({
            rules: {
                ignore: ":not(:visible)",
                chkindate: {
                    required: true
                },
                chkoutdate: {
                    required: true
                },
                Personcount: {
                    required: true
                },
                mobile: {
                    required: true
                }
            },
            messages: {

            }
        });

        

    });

</script>
