
<style>
    .responsive {
  max-width: 100%;
  height: auto;
}
</style>
<div class="jumbotron responsive" style="background-image: url('../../Content/images/img_bg_4.jpg');    margin-top: 15px; " width="600" height="400">
    <h1 class="glow" style="text-align:center; color:aqua" >Thank You!</h1>    
    <p class="lead" style="text-align:center;color:white" >For Clarificatios/Enquiry on thirukadaiur temple, Please Contact<br /> <a class="glow">Call: +916379158216 and +919585831457</a></p> 
    
</div>

