
<style>
    .btnq {
    background-color: darkblue;
    border: none;
    color: white;
    padding: 7px 14px;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    }
    .responsive {
    width: 100%;
    height: auto;
}
</style>
<div class="jumbotron" style="background-image: url('../../Content/images/img_bg_4.jpg'); height:300px;    height: 300px;       background-position: center;    background-repeat: no-repeat;    background-size: cover;    position: relative; width:100%; margin-top: 15px; ">
    <h1 class="glow" style="color:aqua">ASP.NET</h1>
    <p class="lead">Welcome to Thirukadaiyur Abirami Amman Temple! Visit Pooja Timings,60th 70th 80th Marriages and Pooja's Online Bookings <a class="glow">Call:+916379158216</a></p>
    <p><a href="/Thirukadaiyur/Thirukadaiyur_Temple_Details_Cost/" class="btn btn-default">Show Price List & Procedures &raquo;</a></p>
    
</div>


<div class="row">
    

    <div class="col-md-3">
        <h2 style="text-align: center;">Marriages & Poojas </h2>
        <p style="text-align:justify">
            Abirami amman temple thirukadaiyur 60th/70th/80th Marriages or Aaush Homams & all types of Pooja bookings.
            Visit thirukadaiyur temple marriage booking cost details & online booking reservation.
        </p>
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
               
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="d-block w-100" src="~/Content/images/img_bg_4.jpg" alt="test" style="height:150px; width:100%;" />
                        
                    </div>
                    <div class="item">
                        <img class="d-block " src="~/Content/images/img_bg_4.jpg" alt="test" style="height:150px;width:100%;" />
                        
                    </div>
                    <div class="item">
                        <img class="d-block " src="~/Content/images/img_bg_4.jpg" alt="test" style="height:150px;width:100%;" />
                        
                    </div>
                    <div class="item">
                        <img class="d-block " src="~/Content/images/img_bg_4.jpg" alt="test" style="height:150px;width:100%;" />
                        
                    </div>
                </div>
               
            </div>
        </div>
        <br />
        <p style="text-align: center;"><a class="btn btn-default" href="/Thirukadaiyur/Thirukadaiyur_Temple_Details_Cost/">Visit Now &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2 style="text-align: center;">test test test</h2>
        <p style="text-align:justify">
            We have best Veg hotel partners in thirukadaiyur to providing (Breakfast, Lunch, Dinner) and snacks etc...
            pay your amount at the end of ceremony. visit the list of food items available in thirukadaiyur hotels.
        </p>
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="d-block w-100" src="~/Content/images/FB_IMG_1549349219940.jpg" alt="test" style="height:150px; width:100%;" />

                    </div>
                    <div class="item">
                        <img class="d-block " src="~/Content/images/FB_IMG_1549349219940.jpg" alt="test" style="height:150px;width:100%;" />

                    </div>
                    <div class="item">
                        <img class="d-block " src="~/Content/images/FB_IMG_1549349219940.jpg" alt="test" style="height:150px;width:100%;" />

                    </div>
                    <div class="item">
                        <img class="d-block " src="~/Content/images/FB_IMG_1549349219940.jpg" alt="test" style="height:150px;width:100%;" />

                    </div>
                </div>

            </div>
        </div>
        <br />

        <p style="text-align: center;"><a class="btn btn-default" href="/Thirukadaiyur/Aayush_Homams_in_Thirukadaiyur/#food">Visit Now &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2 style="text-align: center;">Hotels,Rooms </h2>
        <p style="text-align:justify">
            Visit list of hotels in thirukadaiyur, you can use it for thirukadaiyur hotel, rooms, lodges, cottages online booking,
            check thirukadaiyur temple accommodations(test test test test) and  booking.
        </p>
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="d-block w-100" src="~/Content/images/FB_IMG_1549349276513.jpg" alt="test" style="height:150px; width:100%;" />

                    </div>
                    <div class="item">
                        <img class="d-block " src="~/Content/images/FB_IMG_1549349276513.jpg" alt="test" style="height:150px;width:100%;" />

                    </div>
                    <div class="item">
                        <img class="d-block " src="~/Content/images/FB_IMG_1549349276513.jpg" alt="test" style="height:150px;width:100%;" />

                    </div>
                    <div class="item">
                        <img class="d-block " src="~/Content/images/FB_IMG_1549349276513.jpg" alt="test" style="height:150px;width:100%;" />

                    </div>
                </div>

            </div>
        </div>
        <br />
        <p style="text-align: center;"><a class="btn btn-default" href="/Thirukadaiyur/Hotels_Rooms_Food_in_Thirukadaiyur/">Visit Now &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2 style="text-align: center;">Food Booking</h2>
        <p style="text-align:justify">
            We have best Veg hotel partners in thirukadaiyur to providing (Breakfast, Lunch, Dinner) and snacks etc...
            pay your amount at the end of ceremony. visit the list of food items available in thirukadaiyur hotels.

        </p>
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="d-block w-100" src="~/Content/images/image.jpg" alt="test" style="height:150px; width:100%;" />

                    </div>
                    <div class="item">
                        <img class="d-block " src="~/Content/images/image.jpg" alt="test" style="height:150px;width:100%;" />

                    </div>
                    <div class="item">
                        <img class="d-block " src="~/Content/images/image.jpg" alt="test" style="height:150px;width:100%;" />

                    </div>
                    <div class="item">
                        <img class="d-block " src="~/Content/images/image.jpg" alt="test" style="height:150px;width:100%;" />

                    </div>
                </div>

            </div>
        </div>
        <br />
        <p style="text-align: center;"><a class="btn btn-default" href="/Thirukadaiyur/Hotels_Rooms_Food_in_Thirukadaiyur/#food">Visit Now &raquo;</a></p>
    </div>

</div>

 
<div class="row">
    <div class="col-md-12">
        <h3 style="text-align:center;color: crimson;">Ask any details around thirukadaiyur...</h3>
       
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="What u need? ask anything..." title="Type in a name">
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <ul id="myUL">
            <li><a href="https://www.thirukadaiyurweddings.com/Thirukadaiyur/Thirukadaiyur_Temple_Details_Cost" style="color:darkblue">thirukadaiyur temple 60th marriage booking cost<i class="fa fa-question-circle-o" aria-hidden="true" style="float:right;color:aqua"></i></a> <p style="text-align:justify">The cost of thirukadaiyur temple marriages is starting from Rs-9500 the pooja is same to all 60th, 70th,80th wedding anniversaries but the difference based on the TYPE OF KALASA POOJA you preferred.(click the above question mark to vist full details)</p></li>
            <li><a style="color:darkblue">thirukadaiyur temple timings/time</a> <p style="text-align:justify">Abirami Amman Temple Thirukadaiyur Timings Morning 6.00 IST to 13.00 IST that is 6.00 AM to 1.00 PM.  Evening 14.00 IST to 21.00 IST that is 4.00 PM to 9.00 PM</p></li>
            <li><a style="color:darkblue">thirukadaiyur temple district</a> <p style="text-align:justify">Thirukadaiyur temple located at Nagapattinam District of Tamilnadu. Nearby cities are Mayiladuthurai(21km), Chidhambaram(43km), Karaikal(21km) all nearby cities are having railway stations </p></li>
            <li><a style="color:darkblue">thirukadaiyur temple distance</a> <p style="text-align:justify">Nearby Cities <br /> Mayiladuthurai (21km) Bus available every 10 Mins. <br />Chidhambaram(43km) Bus available every 10 Mins, <br />karaikal(21km) Bus available every 10 Mins.</p></li>

            <li>
                <a style="color:darkblue">mayiladuthurai to thirukadaiyur</a> <p>
                    Around 21kms we have lot of buses every 20 mins from Mayiladuthurai New BusStand. it will take 30 mins
                    <img src="/Content/Images/MYLtoTKDR.JPG" alt="Nature" class="responsive" width="650" height="350">
                </p>
            </li>

            <li>
                <a style="color:darkblue">chennai to thirukadaiyur </a>                 
                                <p>
                    We have ECR route and ByPass route to reach Thirukadaiyur both are almost same distance. around 6hrs travel.
                    <img src="/Content/Images/CHNtoTKDR.JPG" alt="Nature" class="responsive" width="650" height="350">
                </p>
            </li>

            <li>
                <a style="color:darkblue">trichy to thirukadaiyur</a>
                <p >
                    A direct route via kumbakonam, Tanjavur, Mayiladuthurai, Thirukadaiyur all are temple Cities. around 3.30hrs it will take.
                    <img src="/Content/Images/TRItoTKDR.JPG" alt="Nature" class="responsive" width="650" height="350">
                </p>
            </li>

            <li>
                <a style="color:darkblue">tirupati to thirukadaiyur</a>
                <p style="text-align:justify">
                    <img src="/Content/Images/TrupathitoTKDR.JPG" alt="Nature" class="responsive" width="650" height="350">
                </p>
            </li>
            <li>
                <a style="color:darkblue">bangalore to thirukadaiyur</a> <p >
                    <img src="/Content/Images/BnlrtoTKDR.JPG" alt="Nature" class="responsive" width="650" height="350">
                </p>
            </li>

            <li>
                <a style="color:darkblue">coimbatore to thirukadaiyur </a> <p>
                  
                    <img src="/Content/Images/CMBtoTKDR.JPG" alt="Nature" class="responsive" width="650" height="350">
                    we are also having one more route via trichy, Kumbakonam which will take the same time
                </p>
            </li>

            <li><a style="color:darkblue">Thirukadaiyur bus booking offers    </a> 
                <p >
                    From CHENNAI: Rs-380 SETC  (Rs500-700 Private)<br />
                        From BANGALORE: Rs-820-1100 (Private) <br />
                            No direct government Buses available  from Bangalore (take route of  Salam->Neyveli->Chidhambaram)440kms 8.30hrs travel.<br />
                    Look in to reBus.in/paytm.in for more offers
                </p>
            </li>
            <li><a href="https://www.google.com/flights" style="color:darkblue">Thirukadaiyur cheap airline tickets <i class="fa fa-question-circle-o" aria-hidden="true" style="float:right;color:aqua"></i></a> 
            <p style="text-align:justify">The Nearest Airport is Thirichirapalli<br />
                From CHENNAI:  Srarting from Rs 2300<br />
                From BANGALORE: Srarting from Rs 3770<br />
                From COIMBATORE: Srarting from Rs 4000<br />
                click  https://www.google.com/flights (click question mark link) for more details
                </p>
            </li>
            <li><a style="color:darkblue" href="https://www.thirukadaiyurweddings.com/Thirukadaiyur/Hotels_Rooms_Food_in_Thirukadaiyur">thirukadaiyur hotels rooms online booking <i class="fa fa-question-circle-o" aria-hidden="true" style="float:right;color:aqua"></i></a> 
            <p >
                HOTELS,ROOMS,COTTAGE @@₹800 onwards...<br />
                FOOD(breakfast,lunch,dinner)@@ ₹100 onwards...<br />
                60th 70th and 80th Annivarsary Marriages&Poojas @@ ₹9500 onwards...<br />
                PHOTOGRAPHY/VIDEO @@ ₹2000 onwards...<br />
                TOURS &TRAVELS ....<br />
                All Arrangements with 24/7 support<br />
                CALL US +919585831457<br />
                we can arrange a guesthouse in Thirukadaiyur. for around 20-25 people. this would be 5K to 7K (AC or NON AC) based on the availability (YOU CAN PAY DIRECTLY TO THE HOTEL RECEPTION AT THE END OF YOUR FUNCTION) they may ask advance(1K) for registration. if so we will let you know.
               

            </p>
            </li>
            <li><a style="color:darkblue" href="https://www.thirukadaiyurweddings.com/Thirukadaiyur/Hotels_Rooms_Food_in_Thirukadaiyur">thirukadaiyur temple devasthanam hotels rooms/lodges<i class="fa fa-question-circle-o" aria-hidden="true" style="float:right;color:aqua"></i></a> 
            <p style="text-align:justify">
                Thirukadaiyur temple maintained rooms cost would be Rs-600 but this will be very less number of count.<br />
                PRIVATE<br />
                HOTELS,ROOMS,@@₹800 onwards...<br />
                COTTAGE @@₹5K-8K onwards...<br />
            </p>
            </li>
            <li><a style="color:darkblue" href="https://www.thirukadaiyurweddings.com/Thirukadaiyur/Hotels_Rooms_Food_in_Thirukadaiyur">hotels near thirukadaiyur abirami temple <i class="fa fa-question-circle-o" aria-hidden="true" style="float:right;color:aqua"></i></a> 
            <p style="text-align:justify">
                Below list is some of available hotels near Thirukadaiyur abirami temple<br />
                Abirami Residency<br />
                Hotel Krishna         <br />
                Hotel Sadhabishegam   <br />
                Hotel Kanagabishegam  <br />
                Hotel Chella          <br />
                JR Residency          <br />
               
                HOTELS,ROOMS,@@₹800 onwards...<br />
                COTTAGE @@₹5K-8K onwards...<br />
            </p>
            </li>           
            <li><a style="color:darkblue">thirukadaiyur abirami temple   </a>
             <p >Thirukadaiyur Abirami Amman Temple is one of the most beautiful historical and cultural temple at thirukadaiyur. it's renovated recently and quite neat and clean. There is an auditorium inside the temple premises for cultural programs (60th Marriages) will be conducted regularly here.
                <br />
                 Thirukadaiyur Temple Marriages Pooja's & Procedurs Details<br />
                * 60th Birthday Marriage (Sashtiapthapoorthi)               <br />
                * 70th Birthday Marriage (Bheema Ratha Santhi)              <br />
                * 80th Birthday Marriage (Sathabhishekam)                   <br />
                </p>
            </li>
            <li><a href="https://www.thirukadaiyurweddings.com/Thirukadaiyur/Thirukadaiyur_Temple_Details_Cost" style="color:darkblue">thirukadaiyur Temple online booking<i class="fa fa-question-circle-o" aria-hidden="true" style="float:right;color:aqua"></i></a>
                
                <p style="text-align:justify">
                    The Portal is directly giving online orders to Thirukadaiyur Temple Devasthanam<br />
                    You can reserve the below functions & Poojas,                                        <br />
                    *60th,70th or 80th Marriages                                                 <br />
                    Aayush Homams                                          <br />
                    -Shodasa Draviya Maha Mritunjeya Homam                                       <br />
                    -Saptha Draviya Maha Mritunjeya Homam                                        <br />
                    -Pancha Draviya Maha Mritunjeya Homam                                        <br />
                    -Regular Ayush Homam                                                         <br />
                    -Special Dharisanam<br />
                    (you may need to pat Rs200 for temple registration fee.)
                </p>
            </li>
            <li><a style="color:darkblue">thirukadaiyur 60th/shastiapthapoorthi marriage packages (COMMON- NON BRAHMINS)</a> <p>
                  Please refer below the below details of packages.
                  <img src="/Content/Images/ThirukadaiyurMarriages.jpg" alt="Nature" class="responsive" width="650" height="350">
                </p>
            </li>
            <li>
                <a style="color:darkblue">thirukadaiyur 60th/shastiapthapoorthi marriage packages (BRAHMINS)</a> <p>
                    Please refer below the below details of packages for bramins.
                    <img src="~/Content/Images/Thirukadaiyurmarriagesb.jpg" alt="Nature" class="responsive" width="650" height="350">
                </p>
            </li>
            <li><a style="color:darkblue">thirukadaiyur abirami temple devasthanam  </a> 
            <p style="text-align:justify">
                The Thirukadaiyur Abirami Temple Devasthanam is under control of Dharmapuram Aatheenam. there are couple of ROOMS (starting from Rs-600 One day) and COTTAGES available for people usage but due to insufficient space, we are allowing you to book all private hotels.<br />
                Abirami Arrangements<br />
                Sannathi Street                                    <br />
                Thirukadaiyur Temple Marriages Online Booking      <br />
                Thirukadaiyur 690311                               <br />
                Call: +916379158216 and +919585831457              <br />
                www.thirukadaiyurweddings.com<br />

             </p>
            </li>
            <li><a style="color:darkblue">thirukadaiyur gurukkal                                 </a> 
            <p >
                There are 7 major Devasthanam Chief Gurukkal(priests)and 100 more priests are working under them. Based on the availability all are segregating to functions/marriages/Poojas.
                
                </p></li>
            <li><a style="color:darkblue">thirukadaiyur temple phone number                      </a> 
            <p >
                Thirukadaiyur Temple Marriages Online Booking      <br />                                              
                Call: +916379158216 and +919585831457              <br />
                www.thirukadaiyurweddings.com<br />
                </p></li>
            <li><a style="color:darkblue">thirukadaiyur temple location                          </a> <p style="text-align:justify">What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.</p></li>
            <li><a style="color:darkblue">thirukadaiyur temple contact details/official website                  </a> <p style="text-align:justify">What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.</p></li>
            <li><a style="color:darkblue">sadhabishegam in thirukadaiyur                         </a> <p style="text-align:justify">What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.</p></li>
            <li><a style="color:darkblue">thirukadaiyur temple contact number                    </a> <p style="text-align:justify">What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.</p></li>
            <li><a style="color:darkblue">sathabhishekam hotel vaitheeswaran koil                </a> <p style="text-align:justify">What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.</p></li>
            <li><a style="color:darkblue">thirukadaiyur temple pooja timings                     </a> <p style="text-align:justify">What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.</p></li>
            <li><a style="color:darkblue">thirukadaiyur 70th marriage                            </a> <p style="text-align:justify">What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.</p></li>
            <li><a style="color:darkblue">thirukadaiyur temple ayush homam                       </a> <p style="text-align:justify">What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.</p></li>
            <li><a style="color:darkblue">thirukadaiyur 80th marriage                            </a> <p style="text-align:justify">What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.What is ASP.NET?.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.</p></li>

        </ul>
    </div>
</div>


<div class="row">
    <div class="col-md-12" style="text-align:justify">
        Tags:
        <div class="col-md-12">
            <ul style="text-align:justify; color:darkblue">
                <li style="font-size: 10px;">
                    <a href="https://www.thirukadaiyurweddings.com/">shastiapthapoorthi temple</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">Thirukadaiyur</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">shastipurthi temple pooja cost</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">59th birthday</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">60th birthday</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">70th birthday</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">80th birthday</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">bhimaradha shanthi</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">bheemaradha shanthi</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">Ukkararatha Shanthi</a>&nbsp;
                </li>
                <li style="font-size: 10px;">
                    <a href="https://www.thirukadaiyurweddings.com/">thirukadaiyur SATHABHISHEKAM</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">thirukadaiyur 60th wedding</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">thirukadaiyur 60th marriage</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">thirukadaiyur manivizha</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">thirukadaiyur homam procedure and cost</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">abirami temple thirukadaiyur</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">Poojas at thirukadaiyur</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">thirukadaiyur Amirthakadeshwarar temple</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">thirukadaiyur manivizha</a>&nbsp;
                </li>
                <li style="font-size: 10px;">

                    <a href="https://www.thirukadaiyurweddings.com/">Thirukadaiyur Temple Mrithunjayahomam pooja cost</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">Thirukadaiyur Temple pooja cost</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">Thirukadaiyur Markendayar temple</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/"> thirukdaiyur hotels</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">bimaradha shanthi cost at thirukadaiyur temple</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">Thirukadaiyur ayush homam cost </a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">Thirukadaiyur ugraradha shanthi cost</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/"> mayiladuthurai </a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/"> mayavaram </a>&nbsp;
                </li>
                <li style="font-size: 10px;">
                    <a href="https://www.thirukadaiyurweddings.com/">kumbakonam</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">60th marriage</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">60th Birthday</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">navagraha tour</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">kala samhara moorthy</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">kanagabishegam</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">Thirunallaru</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">Vaidheeswaran koil</a>&nbsp;
                    <a href="https://www.thirukadaiyurweddings.com/">AYUSHYA HOMAM</a>&nbsp;
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
            function myFunction() {
                var input, filter, ul, li, a, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                ul = document.getElementById("myUL");
                li = ul.getElementsByTagName("li");
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("a")[0];
                    txtValue = a.textContent || a.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    }
                }
            }
</script>

