<style>

</style>
<h2 style="text-align:center;">Thirukadaiyur Abirami Amman Temple Marriages,Poojas Cost</h2>
<div class="row" style="text-align:center;margin-bottom:15px">
    <div class="btn-group">
        <button id="normal" type="button" class="btn btn-primary" style="font-size: 20px;border-color: darkblue;">General</button>
        <button id="brhamin" type="button" class="btn btn-primary" style="font-size: 20px;border-color: darkblue;">Brahmins</button>
    </div>
</div>


<section id="section1" style="display:none;">
    <p>ASP.NET is a free web framework for building great Web sites and Web applications using HTML,CSS and JavaScript.</p>
    <h2>test heading</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" >
                <div class="table-responsive" >
                    <table class="table table-bordered" style="font-size:13px;overflow-x:auto;" >
                        <thead>
                            <tr>
                                <th scope="col"style="width:200px">test test</th>
                                <th scope="col"style="width:75px">test First</th>
                                <th scope="col"style="width:75px">test Last</th>
                                <th scope="col"style="width:75px">test Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">ASP.NET is a free web framework for<br /> building great Web sites and Web <br />applications using HTML, <br />CSS and JavaScript.</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <th scope="row" >ASP.NET <br />is a free web framework <br />for building great Web sites <br />and Web applications <br />using HTML, CSS and <br />JavaScript.ASP.NET is a <br />free web framework for<br /> building great Web sites and<br /> Web applications using<br /> HTML, CSS and JavaScript.</th>
                                <td colspan="3" >
                                    <img src="~/Content/Images/img_bg_4.jpg" alt="Nature" class="responsive"width="400" height="300" />                                 
                                </td>
                                                                
                            </tr>
                            <tr>
                                <th></th>
                                <td colspan="3"></td> 
                            </tr>
                            <tr>
                                <th scope="row" >test</th>
                                <td >Larry the Bird</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
                <p><a href="/Thirukadaiyur/Thirukadaiyur_Temple_Booking/" class="btn btn-default">Learn more &raquo;</a></p>
            </div>
        </div>
       
    </div>
    <p>ASP.NET is a free web framework for building great Web sites and Web applications using HTML,CSS and JavaScript.</p>
    <h2>test heading</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div class="table-responsive">
                    <table class="table table-bordered" style="font-size:13px">
                        <thead>
                            <tr>
                                <th scope="col" style="width:200px">test test</th>
                                <th scope="col" style="width:75px">test First</th>
                                <th scope="col" style="width:75px">test Last</th>
                                <th scope="col" style="width:75px">test Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">ASP.NET is a free web framework for<br /> building great Web sites and Web <br />applications using HTML, <br />CSS and JavaScript.</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <th scope="row">ASP.NET <br />is a free web framework <br />for building great Web sites <br />and Web applications <br />using HTML, CSS and <br />JavaScript.ASP.NET is a <br />free web framework for<br /> building great Web sites and<br /> Web applications using<br /> HTML, CSS and JavaScript.</th>
                                <td colspan="3">
                                    <img src="~/Content/Images/img_bg_4.jpg" alt="Nature" class="responsive" width="400" height="300" />
                                </td>

                            </tr>
                            <tr>
                                <th></th>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <th scope="row">test</th>
                                <td>Larry the Bird</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
                <p><a href="/Thirukadaiyur/Thirukadaiyur_Temple_Booking/" class="btn btn-default">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</section>
<section id="section2" style="display:none;">
    <p>ASP.NET is a free web framework for building great Web sites and Web applications using HTML,CSS and JavaScript.</p>
    <h2>test heading2</h2>
    
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div class="table-responsive">
                    <table class="table table-bordered" style="font-size:13px">
                        <thead>
                            <tr>
                                <th scope="col" style="width:200px">test test</th>
                                <th scope="col" style="width:75px">test First</th>
                                <th scope="col" style="width:75px">test Last</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">ASP.NET is a free web framework for<br /> building great Web sites and Web <br />applications using HTML, <br />CSS and JavaScript.</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                
                            </tr>
                            <tr>
                                <th scope="row">ASP.NET <br />is a free web framework <br />for building great Web sites <br />and Web applications <br />using HTML, CSS and <br />JavaScript.ASP.NET is a <br />free web framework for<br /> building great Web sites and<br /> Web applications using<br /> HTML, CSS and JavaScript.</th>
                                <td colspan="2">
                                    <img src="~/Content/Images/img_bg_4.jpg" alt="Nature" class="responsive" width="400" height="300" />
                                </td>

                            </tr>
                            <tr>
                                <th></th>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <th scope="row">test</th>
                                <td>Larry the Bird</td>
                                <td>test</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
                <p><a href="/Thirukadaiyur/Thirukadaiyur_Temple_Booking/" class="btn btn-default">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>

</section>
<p>Use this area to provide additional information.</p>
<script type="text/javascript">

    $(document).ready(function () {

        $("#normal").click(function () {
            document.getElementById('section2').style.display = "none";
            document.getElementById('section1').style.display = "block";
        });

        $("#brhamin").click(function () {
            document.getElementById('section1').style.display = "none";
            document.getElementById('section2').style.display = "block";
        });
    });
</script>
